{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Daily Texan Interactive">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Daily Texan Crime Map</title>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="{% static 'crimeAPI/js/crime.js' %}"></script>
    <script type="text/javascript"> 
      reqMaker._API_URL = "{% url 'crimeAPI:baseView' %}"
      CENSUS_TRACTS_JSON_URL = "{% static 'crimeAPI/js/apd_census_tracts_pared.topojson' %}"
      AREAS_JSON_URL = "{% static 'crimeAPI/js/apd_areas.topojson' %}"
    </script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" />

    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker-bs3.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'crimeAPI/css/slider.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'crimeAPI/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'crimeAPI/css/graph.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'crimeAPI/css/map.css' %}" />

    <script src="http://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.3/d3-tip.min.js"></script>
    <script src="{% static 'crimeAPI/js/slider.js' %}"></script>
    <script src="{% static 'crimeAPI/js/map.js' %}"></script>
    <script src="{% static 'crimeAPI/js/graphOverTime.js' %}"></script>
    <script src="{% static 'crimeAPI/js/graphByDelay.js' %}"></script>
    <script src="{% static 'crimeAPI/js/graphByArea.js' %}"></script>
    <script>
      // google analytics code
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
      {
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
      Date();a=s.createElement(o),

      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(
      a,m)

      })(window,document,'script','//www.google-analytics.com/analytics.js','ga')
      ;
        ga('create', 'UA-5909761-23', 'auto');
        ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="modal fade" id="categories" tabindex="-1" role="dialog" aria-labelledby="Categories" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Categories</h4>
          </div>
          <div class="modal-body">
            {% for catOffenseName in catOffenseNames %}
              <h2>{{catOffenseName.0.name}}</h2>
              <ul>
                {% for offense in catOffenseName.1 %}
                  <li>{{offense.name}}</li>
                {% endfor %}
              </ul>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="faq" tabindex="-1" role="dialog" aria-labelledby="Frequently Asked Questions" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">FAQ</h4>
          </div>
          <div class="modal-body">
            <h2>What crime is under each category?</h2>
            <p>We attempted to categorize crime in a way that people would have an intuitive feel for what each category means. If you want to see which offense code is placed under each category, <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#categories">click here</a>.</p>
            <h2>Where do you pull your crime information from?</h2>
            <p>We take our crime information from APD's Incident Reports Search page. We pull information on all available published days (usually about 500 days) every night. If you think citizens in Austin should have an easier way to get all of APD's full electronic crime data, contact <a href="https://twitter.com/kerry_atx" target="_blank">Kerry O'Connor</a>, the city's Chief Innovation Officer.</p>
            <h2>Does this include data from UTPD?</h2>
            <p>Currently, this interactive does not include UTPD data. We are working with UTPD to make their information accessible.</p>
            <h2>I'm a programmer. How do I use the data?</h2>
            <p>The Daily Texan will release an API for developers very soon. If you want early access contact <a href="mailto:mileshutson@utexas.edu">mileshutson@utexas.edu</a>.</p>
            <h2>Can I see the code?</h2>
            <p>All code for this interactive can be found <a href="https://github.com/CuriousG102/interactives-backend" target="_blank">on GitHub</a>. Questions can be directed to <a href="mailto:mileshutson@utexas.edu">mileshutson@utexas.edu</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row top-buffer"></div>
      <div class="row">
        <div id="map" class="col-md-6">
          <img id="zoomOut" src="{% static 'crimeAPI/images/up-arrow-circle-hi.png' %}"/>
        </div>
        <div class="col-md-3">
          <div id="sliderContainer" class="row">
            <div class="col-md-12">
              <div id="slider" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                <span></span> <b class="caret"></b>
              </div>
            </div>
          </div>
          <div class="row top-buffer"></div>
          <div class="btn-group row">
            <div class="col-md-12">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="categorySelectorButton">
              </button>
              <ul class="dropdown-menu" role="menu" id="categorySelector"></ul>
            </div>
          </div>
          <div class="row">
            <div id="mapLegendContainer" class="col-md-12">
              <div id="mapLegend"></div>
            </div>
          </div>
          <!-- <div class="list-group" id="categorySelector"></div> -->
        </div>
        <div class="col-md-3">
          <h1>Crime in Austin</h1>
          <p>Curious about crime in the city of Austin? The Daily Texan has you covered. Each night, our programs collate the latest crime reports from APD so you can view them here.</p>
          <h2><a href="#" data-toggle="modal" data-target="#faq">FAQ</a></h2>
          <h2>Credit</h2>
          <p>This interactive would not be possible without:</p>
          <ul>
            <li>Miles Hutson - Map, API, data, selectors</li>
            <li>Elizabeth Benefiel - Charts, UX input</li>
            <li>Jack Mitts and Amanda Voeller - Grouping census tracts to areas</li>
            <li>The generosity of the opensource community</li>
          </ul>
        </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h3 class="graphTitle">Count over Time</h3>
            <div class="row">
              <div class="col-md-12" id="graph1Container">
                <svg id="graph1" ></svg>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <h3 class="graphTitle">Report Time Delay by APD Area Command</h3>
            <div class="row">
              <div class="col-md-12" id="graph2Container">
                <svg id="graph2" ></svg>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <h3 d class="graphTitle">Count by APD Area Command</h3>
            <div class="row">
              <div class="col-md-12" id="graph3Container">
                <svg id="graph3" ></svg>
              </div>
            </div>
          </div>
      
      </div>
    </div>
  <body>
</html>
