{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Daily Texan Interactive">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="../../favicon.ico">

    <title>The Daily Texan</title>

    <!-- css -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" rel="stylesheet">
    <link href="{% static 'photoMap/css/custom.css' %}" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- jQuery plugins-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.min.js"></script>

    <!-- JavaScript -->
    <script type='text/javascript' src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <!-- MapQuest -->
    <script src="http://open.mapquestapi.com/sdk/leaflet/v1.s/mq-map.js?key=Fmjtd%7Cluu8216an5%2Crw%3Do5-947w0w"></script>

    <!-- map -->
    <script type="text/javascript" src="{% static 'photoMap/js/map.js' %} "></script>

    <script>
      $(window).load(function () {
        getData("{% url 'photoMap:mapAPIListing' map.pk %}", populateMap); 
      });
    </script>

  </head>

  <body>

  <!-- Header: The Daily Texan & Title -->
    <div class="head">
        <a href="http://www.dailytexanonline.com/"><img class="nameplate" src="http://www.dailytexanonline.com/sites/all/themes/texan/images/nameplate_desktop.png" alt="The Daily Texan"></a>
        <span id="interactive-title">Title</span>
    </div>

    <div class="body background">

      <!-- map -->
      <div id="map">
        <span id="attribution-link">DT<br>interactives</span>
      </div>

      <!-- festivals chronologically -->
      <div class="bottom-box-outer">
        <div class="bottom-box-inner">
          <ul id="event-scroll">

          </ul>
        </div> <!-- close inner box div -->
      </div> <!-- close outer box div -->

      <div id="fade-bg"></div>
      <div id="attr-fade-bg"></div>
      
      <div id="attribution-overlay">
        <div class="glyphicon glyphicon-remove" id="attr-exit-button" aria-hidden="true"></div>
        <div id="attribution-box">
          <h2>Developed by: </h2>

          <div class="attContainer">
            <div class="attPortraitContainer">
              <img src="images/name.jpg">
            </div>
            <a href="http://www.dailytexanonline.com/author/name-name"><h3>name</h3></a>
          </div>

          <div class="attContainer">
            <div class="attPortraitContainer">
              <img src="images/name.jpg">
            </div>
            <a href="http://www.dailytexanonline.com/author/name-name"><h3>name</h3></a>
          </div>

          <div class="attContainer">
            <div class="attPortraitContainer">
              <img src="images/name.jpg">
            </div>
            <a href="http://www.dailytexanonline.com/author/name-name"><h3>name</h3></a>
          </div>

          <div class="attContainer">
            <div class="attPortraitContainer">
              <img src="images/name.jpg">
            </div>
            <a href="http://www.dailytexanonline.com/author/name-name"><h3>name</h3></a>
          </div>

          <div class="attContainer">
            <div class="attPortraitContainer">
              <img src="images/name.jpg">
            </div>
            <a href="http://www.dailytexanonline.com/author/name-name"><h3>name</h3></a>
          </div>

          <div class="attContainer">
            <div class="attPortraitContainer">
              <img src="images/name.jpg">
            </div>
            <a href="http://www.dailytexanonline.com/author/name-name"><h3>name</h3></a>
          </div>
        </div>
      </div> <!-- close attribution-overlay -->

      <div id="overlay">
        <div class="glyphicon glyphicon-remove" id="exit-button" aria-hidden="true"></div>
        <div id="overlay-box">
          
          <div id="overlay-text">
            <h1 id="eventName"></h1>
            <h2 id="eventDate"></h2>
            <h4 id="eventDesc"></h4>
            <button class="btn btn-default btn-lg">Go to Official Site</button>
          </div>
        </div>
      </div>

    </div> <!-- close body div -->
  </body>
</html>

<div class="eventBox">
